@font-face {
  font-family: "Source Sans Pro";
  src: url(/fuentes/SourceSansPro-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Black";
  src: url(/fuentes/SourceSansPro-Black.ttf);
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Source Sans Pro";
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  width: 100vw;
  /*Body height*/

  /*Cambio general*/
  /*padding-left: 100px;
  padding-right: 100px;*/
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.header-fix {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
  &__menu-desplegable {
    display: none;
    width: 232px;
    justify-content: space-between;
    display: none;
  }
  &__ma {
    width: 80px;
    height: 140px;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/maria-lunarillos.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #ff5959;
  }
  &__cu {
    width: 70px;
    height: 70px;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/cucute.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: rgb(97, 153, 175);
    &:hover {
      height: 140px;
    }
  }
  &__mu {
    width: 70px;
    height: 70px;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/mumuchu.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: rgb(246, 180, 54);
    &:hover {
      height: 140px;
    }
  }
  &__menu {
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/burger_menu.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  &__user {
    display: flex;
    width: 160px;
  }
  &__user-icon {
    width: 27px;
    height: 27px;
    background-image: url(./sprite.svg);
  }
  &__u-icon-text {
    display: none;
    float: left;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
  }
  &__social {
    display: none;
    width: 215px;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__social-icon {
    background: url("./sprite.svg") no-repeat 0 -533px;
    width: 210px;
    height: 33px;
  }
  &__buscar {
    background-color: #bbb8b6;
  }
  &__buscar-icon {
    width: 30px;
    height: 30px;
    background-image: url(./sprite.svg);
    background-position-x: -312px;
  }
  &__carrito {
    background-color: #ffffff;
    &:hover {
      background-color: #ff5959;
    }
  }
  &__carrito-icon {
    width: 30px;
    height: 30px;
    background-image: url(./sprite.svg);
    background-position-x: -76px;
  }

  &__items {
    background-color: #ff5959;
  }
  &__Numitems {
    font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #fff;
  }
}

/*/ MEDIA QUERIES HEADER /*/
@media (min-width: 800px) {
  /*HEADER FIX*/
  .header-fix {
    width: 60%;
  }
  .header-fix__menu-desplegable {
    display: flex;
  }
  .header-fix__menu {
    display: none;
  }
  .header-fix__expandir {
    flex-grow: 1;
  }
  .header-fix__u-icon-text {
    display: block;
  }
  .header-fix__buscar {
    display: none;
  }
  .header-fix__social {
    display: flex;
  }
}

/*/Hovers HEADER/*/
.header-fix__carrito:hover .header-fix__carrito-icon {
  background-position-x: -116px;
}
.header-fix__user:hover .header-fix__user-icon {
  background-position-x: -37px;
}

.header-fix__user:hover .header-fix__user-icon {
  background-position-x: -37px;
}
.header-fix__user:hover .header-fix__u-icon-text {
  color: #ff5959;
}

/*IMAGEN----------------------------------------*/
.header-container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  background-color: white;
  width: 100%;
  &__sub {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  &__image-700 {
    height: 55px;
  }
  &__image-1000 {
    display: none;
  }
  &__expand {
    background-color: blue;
    height: 50px;
    width: 50px;
  }
  &__lateral {
    background-color: yellow;
    height: 50px;
    width: 50px;
  }
}
@media (min-width: 800px) {
  .header-container {
    margin-top: 75px;
    &__image-700 {
      display: none;
    }
    &__image-1000 {
      display: inline;
    }
    &__expand {
      flex-grow: 1;
    }
    &__lateral {
      width: 200px;
    }
  }
}

//MAIN CONTAINER
.main-container {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro Black";
  font-size: 17px;
  padding-left: 130px;
  padding-right: 130px;
  /*font-weight: bold;*/
}
.main-container__category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container__category img {
  width: 120px;
  height: 140px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.main-container__titulo {
  font-family: "Source Sans Pro";
  letter-spacing: 5px;
  font-weight: bold;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 15px 50px 15px 50px;
}

.main-container {
  width: 100%;
  &__home {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__images {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    &:nth-child(1) {
      background-image: url(/images/fiestastematicas.jpg);
      background-size: cover;
    }
    &:nth-child(2) {
      background-image: url(/images/fiestaspersonajes.jpg);
      background-size: cover;
    }
    &:nth-child(3) {
      background-image: url(/images/pompones.jpg);
      background-size: cover;
      overflow: hidden;
    }
  }
  &__box {
    width: 50%;
    padding: 0px 20px 0px 20px;
    background: white;
    opacity: 0.7;
    line-height: 20px;

    & h3:hover {
      text-decoration: underline;
    }
  }
  &__view-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5959;
    margin-top: 30px;
    width: 120px;
    height: 50px;

    & a {
      font-family: "Source Sans Pro";
      text-decoration: none;
      padding: 20px;
      color: white;
    }
  }
}

.sponsors {
  width: 100%;
  height: 100px;
  background-color: white;
}

.footer {
  width: 100%;
  /*SIGUENOS-----------------*/
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__contact-follow {
    display: flex;
    flex-direction: column;
    color: #67625f;
    align-items: center;
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 1px solid #a59e9aab;
    & h3 {
      font-size: 14px;
    }
  }
  &__icons-box {
    display: flex;
    justify-content: center;
    width: 212px;
    height: 40px;
    padding-bottom: 80px;
  }
  &__iconos-facebook {
    background: url(/sprite.svg) no-repeat 0 -493px;
    width: 32px;
    height: 33px;
  }
  &__iconos-twitter {
    background: url(/sprite.svg) no-repeat -35px -493px;
    width: 33px;
    height: 33px;
  }
  &__iconos-instagram {
    background: url(/sprite.svg) no-repeat -71px -493px;
    width: 32px;
    height: 33px;
  }
  &__iconos-pinterest {
    background: url(/sprite.svg) no-repeat -106px -493px;
    width: 33px;
    height: 33px;
  }
  &__iconos-youtube {
    background: url(/sprite.svg) no-repeat -177px -493px;
    width: 33px;
    height: 33px;
  }

  /*NEWSLETTER*/
  &__contact-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    border-bottom: 1px solid #a59e9aab;
    font-size: 14px;
    padding-bottom: 50px;
  }
  &__email {
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #67625f;
    & input[type="email"] {
      margin-top: 5px;
      width: 330px;
      height: 40px;
      border: 1px solid #67625f;
    }
  }
  &__check {
    color: #67625f;
    display: flex;
    align-items: center;
    & input[type="checkbox"] {
      background: white;
      width: 17px;
      height: 17px;
      background: white;
      border-radius: 5px;
      border: 2px solid #555;
      margin-right: 10px;
    }
    & a {
      color: #67625f;
    }
  }
  &__button-box {
    margin-top: 1px;
    & button {
      background: #ff5959;
      font-size: 14px;
      font-family: "Source Sans Pro";
      font-weight: bold;
      color: white;
      padding: 10px 120px 10px 120px;
      border: none;
      &:hover {
        background: #b32525ef;
      }
    }
  }
  /*CONTACT*/
  &__contact-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  &__contact-box {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #ff5959;
    align-items: center;

    & h3 {
      margin-top: 0px;
    }
  }
  &__icon-contact {
    width: 40px;
    height: 40px;
    background-image: url(/sprite.svg);
    background-position: 4px -204px;
  }
  &__icon-nosotros {
    width: 40px;
    height: 40px;
    background-image: url(/sprite.svg);
    background-position: 4px -242px;
  }
  &__icon-conditions {
    width: 40px;
    height: 40px;
    background-image: url(/sprite.svg);
    background-position: 4px -281px;
  }

  &__copy {
    font-style: "Source Sans Pro";
    font-weight: bold;
    background: #ff5959;
    width: 100%;
    color: white;
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
/*/ Envios y devoluciones/*/

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size-footer__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 160px;
}

.size-footer__iconsbox {
  height: 70px;
  width: 90px;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 30px;
  background-color: #e8e6e5;
  &__enviosBox {
    background-image: url(./sprite.svg);
    height: 70px;
    width: 90px;
    background-position-x: 5px;
    background-position-y: -30px;
  }
  &__envios24Box {
    background-image: url(./sprite.svg);
    height: 70px;
    width: 60px;
    background-position-x: -87px;
    background-position-y: -30px;
  }
  &__devolucionesBox {
    background-image: url(./sprite.svg);
    height: 70px;
    width: 80px;
    background-position-x: -143px;
    background-position-y: -30px;
  }
  &__reembolsoBox {
    background-image: url(./sprite.svg);
    height: 70px;
    width: 90px;
    background-position-x: -218px;
    background-position-y: -30px;
  }
  &__text1 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    color: #67625f;
    &:hover {
      color: #fd8080;
    }
  }
  &__text2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #67625f;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    &:hover {
      color: #fd8080;
    }
  }
}

/*/ Hover completo iconos /*/

.footer__icons__envios:hover .footer__icons__enviosBox {
  background-position-x: 5px;
  background-position-y: -101px;
}

.footer__icons__envios:hover .footer__icons__text1 {
  color: #fd8080;
}

.footer__icons__envios:hover .footer__icons__text2 {
  color: #fd8080;
}

.footer__icons__envios24:hover .footer__icons__envios24Box {
  background-position-x: -87px;
  background-position-y: -101px;
}

.footer__icons__envios24:hover .footer__icons__text1 {
  color: #fd8080;
}

.footer__icons__envios24:hover .footer__icons__text2 {
  color: #fd8080;
}

.footer__icons__devoluciones:hover .footer__icons__devolucionesBox {
  background-position-x: -143px;
  background-position-y: -101px;
}

.footer__icons__devoluciones:hover .footer__icons__text1 {
  color: #fd8080;
}

.footer__icons__devoluciones:hover .footer__icons__text2 {
  color: #fd8080;
}

.footer__icons__reembolso:hover .footer__icons__reembolsoBox {
  background-position-x: -218px;
  background-position-y: -101px;
}

.footer__icons__reembolso:hover .footer__icons__text1 {
  color: #fd8080;
}

.footer__icons__reembolso:hover .footer__icons__text2 {
  color: #fd8080;
}

/*/ Warrada /*/

@media (min-width: 800px) {
  .footer {
    &__contact {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding-bottom: 80px;
      width: 65%;
    }
    &__contact-follow {
      border-bottom: 0;
      border-right: 1px solid #a59e9aab;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 0;
      padding-right: 10px;
      margin-top: 20px;
      padding-top: 30px;
      & h3 {
        margin-top: 0;
      }
    }
    &__contact-newsletter {
      flex-direction: row;
      align-items: center;
      border-bottom: 0;
      margin-top: 20px;
      padding-top: 30px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 20px;
      border-right: 1px solid #a59e9aab;
    }
    &__email {
      margin-top: 1px;
      & input[type="email"] {
        margin-top: 14px;
        width: 300px;
        height: 37px;
        border: 1px solid #67625f;
      }
    }
    &__button-box {
      padding-top: 11px;
      margin: 0;
      min-width: 105px;
      & button {
        background: #ff5959;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 4px;
        &:hover {
          background: #b32525ef;
        }
      }
    }
    &__contact-contact {
      margin-top: 40px;
      margin-bottom: 0;
      padding-left: 40px;
      align-items: flex-start;
    }
    &__contact-box {
      flex-direction: row;
      justify-content: flex-start;
      font-size: 11px;
    }
    &__icons-box {
      justify-content: flex-start;
    }
  }
  .footer__email {
    align-items: flex-start;
  }
}
