@font-face {
  font-family: "Source Sans Pro";
  src: url(/fuentes/SourceSansPro-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Black";
  src: url(/fuentes/SourceSansPro-Black.ttf);
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Source Sans Pro";
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  width: 100vw;
  /*Body height*/
  /*Cambio general*/
  /*padding-left: 100px;
  padding-right: 100px;*/
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.header-fix {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
}
.header-fix__menu-desplegable {
  display: none;
  width: 232px;
  justify-content: space-between;
  display: none;
}
.header-fix__ma {
  width: 80px;
  height: 140px;
  background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/maria-lunarillos.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #ff5959;
}
.header-fix__ma:hover {
  cursor: pointer;
}
.header-fix__cu {
  width: 70px;
  height: 70px;
  background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/cucute.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #6199af;
}
.header-fix__cu:hover {
  cursor: pointer;
  height: 140px;
}
.header-fix__mu {
  width: 70px;
  height: 70px;
  background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/mumuchu.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #f6b436;
}
.header-fix__mu:hover {
  cursor: pointer;
  height: 140px;
}
.header-fix__menu {
  background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/burger_menu.png);
  background-position: center;
  background-repeat: no-repeat;
}
.header-fix__user {
  display: flex;
  width: 160px;
}
.header-fix__user-icon {
  width: 27px;
  height: 27px;
  background-image: url(./sprite.svg);
}
.header-fix__u-icon-text {
  display: none;
  float: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
}
.header-fix__social {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.header-fix__social-facebook {
  background: url("./sprite.svg") no-repeat -11px -540px;
  width: 10px;
  height: 20px;
}
.header-fix__social-facebook:hover {
  cursor: pointer;
  background: url("./sprite.svg") no-repeat -11px -500px;
  width: 10px;
  height: 20px;
}
.header-fix__social-twitter {
  background: url("./sprite.svg") no-repeat -44px -543px;
  width: 17px;
  height: 15px;
}
.header-fix__social-twitter:hover {
  cursor: pointer;
  background: url("./sprite.svg") no-repeat -44px -503px;
  width: 17px;
  height: 15px;
}
.header-fix__social-instagram {
  background: url("./sprite.svg") no-repeat -78px -541px;
  width: 18px;
  height: 18px;
}
.header-fix__social-instagram:hover {
  cursor: pointer;
  background: url("./sprite.svg") no-repeat -78px -501px;
  width: 18px;
  height: 18px;
}
.header-fix__social-pinterest {
  background: url("./sprite.svg") no-repeat -115px -540px;
  width: 15px;
  height: 20px;
}
.header-fix__social-pinterest:hover {
  cursor: pointer;
  background: url("./sprite.svg") no-repeat -115px -500px;
  width: 15px;
  height: 20px;
}
.header-fix__social-youtube {
  background: url("./sprite.svg") no-repeat -185px -540px;
  width: 16px;
  height: 19px;
}
.header-fix__social-youtube:hover {
  cursor: pointer;
  background: url("./sprite.svg") no-repeat -185px -500px;
  width: 16px;
  height: 19px;
}
.header-fix__buscar {
  background-color: #bbb8b6;
}
.header-fix__buscar-icon {
  width: 30px;
  height: 30px;
  background-image: url(./sprite.svg);
  background-position-x: -312px;
}
.header-fix__carrito {
  background-color: #ffffff;
}
.header-fix__carrito:hover {
  cursor: pointer;
  background-color: #ff5959;
}
.header-fix__carrito-icon {
  width: 30px;
  height: 30px;
  background-image: url(./sprite.svg);
  background-position-x: -76px;
}
.header-fix__items {
  background-color: #ff5959;
}
.header-fix__Numitems {
  font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #fff;
}

/*/ MEDIA QUERIES HEADER /*/
@media (min-width: 800px) {
  /*HEADER FIX*/
  .header-fix {
    width: 60%;
  }

  .header-fix__menu-desplegable {
    display: flex;
  }

  .header-fix__menu {
    display: none;
  }

  .header-fix__expandir {
    flex-grow: 1;
  }

  .header-fix__u-icon-text {
    display: block;
  }

  .header-fix__buscar {
    display: none;
  }

  .header-fix__social {
    display: flex;
  }
}
/*/Hovers HEADER/*/
.header-fix__carrito:hover .header-fix__carrito-icon {
  cursor: pointer;
  background-position-x: -116px;
}

.header-fix__user:hover .header-fix__user-icon {
  cursor: pointer;
  background-position-x: -37px;
}

.header-fix__user:hover .header-fix__user-icon {
  cursor: pointer;
  background-position-x: -37px;
}

.header-fix__user:hover .header-fix__u-icon-text {
  cursor: pointer;
  color: #ff5959;
}

/*IMAGEN----------------------------------------*/
.header-container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  background-color: white;
  width: 100%;
}
.header-container__sub {
  display: flex;
  justify-content: center;
  width: 50%;
}
.header-container__image-700 {
  height: 55px;
}
.header-container__image-1000 {
  display: none;
}
.header-container__expand {
  background-color: blue;
  height: 50px;
  width: 50px;
}
.header-container__lateral {
  background-color: yellow;
  height: 50px;
  width: 50px;
}

@media (min-width: 800px) {
  .header-container {
    margin-top: 75px;
  }
  .header-container__image-700 {
    display: none;
  }
  .header-container__image-1000 {
    display: inline;
  }
  .header-container__expand {
    flex-grow: 1;
  }
  .header-container__lateral {
    width: 200px;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro Black";
  font-size: 17px;
  padding-left: 130px;
  padding-right: 130px;
  /*font-weight: bold;*/
}

.main-container__category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container__category img {
  width: 120px;
  height: 140px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.main-container__titulo {
  font-family: "Source Sans Pro Black";
  letter-spacing: 5px;
  font-weight: bold;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 15px 50px 15px 50px;
}

.main-container {
  width: 100%;
}
.main-container__home {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container__images {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}
.main-container__images:nth-child(1) {
  background-image: url(/images/fiestastematicas.jpg);
  background-size: cover;
}
.main-container__images:nth-child(2) {
  background-image: url(/images/fiestaspersonajes.jpg);
  background-size: cover;
}
.main-container__images:nth-child(3) {
  background-image: url(/images/pompones.jpg);
  background-size: cover;
  overflow: hidden;
}
.main-container__box {
  width: 50%;
  padding: 0px 20px 0px 20px;
  background: white;
  opacity: 0.7;
  line-height: 20px;
}
.main-container__box h3:hover {
  text-decoration: underline;
}
.main-container__view-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5959;
  margin-top: 30px;
  width: 120px;
  height: 50px;
}
.main-container__view-more a {
  font-family: "Source Sans Pro";
  text-decoration: none;
  padding: 20px;
  color: white;
}

.sponsors {
  width: 100%;
  display: none;
  height: 100px;
  background-color: white;
}

.footer {
  width: 100%;
  /*SIGUENOS-----------------*/
  /*NEWSLETTER*/
  /*CONTACT*/
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__contact-follow {
  display: flex;
  flex-direction: column;
  color: #67625f;
  align-items: center;
  margin-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  border-bottom: 1px solid #a59e9aab;
}
.footer__contact-follow h3 {
  font-size: 14px;
}
.footer__icons-box {
  display: flex;
  justify-content: center;
  width: 212px;
  height: 40px;
  padding-bottom: 80px;
}
.footer__iconos-facebook {
  background: url(/sprite.svg) no-repeat 0 -493px;
  width: 32px;
  height: 33px;
}
.footer__iconos-facebook:hover {
  cursor: pointer;
  background: url(sprite.svg) no-repeat 0 -573px;
  width: 32px;
  height: 33px;
}
.footer__iconos-twitter {
  background: url(/sprite.svg) no-repeat -35px -493px;
  width: 33px;
  height: 33px;
}
.footer__iconos-twitter:hover {
  cursor: pointer;
  background: url(/sprite.svg) no-repeat -35px -573px;
  width: 33px;
  height: 33px;
}
.footer__iconos-instagram {
  background: url(/sprite.svg) no-repeat -71px -493px;
  width: 33px;
  height: 33px;
}
.footer__iconos-instagram:hover {
  cursor: pointer;
  background: url(/sprite.svg) no-repeat -71px -573px;
  width: 32px;
  height: 33px;
}
.footer__iconos-pinterest {
  background: url(/sprite.svg) no-repeat -106px -493px;
  width: 33px;
  height: 33px;
}
.footer__iconos-pinterest:hover {
  cursor: pointer;
  background: url(sprite.svg) no-repeat -106px -573px;
  width: 33px;
  height: 33px;
}
.footer__iconos-youtube {
  background: url(/sprite.svg) no-repeat -177px -493px;
  width: 33px;
  height: 33px;
}
.footer__iconos-youtube:hover {
  cursor: pointer;
  background: url(/sprite.svg) no-repeat -177px -573px;
  width: 33px;
  height: 33px;
}
.footer__contact-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  border-bottom: 1px solid #a59e9aab;
  font-size: 14px;
  padding-bottom: 50px;
}
.footer__email {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #67625f;
}
.footer__email input[type=email] {
  margin-top: 5px;
  width: 330px;
  height: 40px;
  border: 1px solid #67625f;
}
.footer__check {
  color: #67625f;
  display: flex;
  align-items: center;
}
.footer__check input[type=checkbox] {
  background: white;
  width: 17px;
  height: 17px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
  margin-right: 10px;
  margin-top: 4px;
}
.footer__check a {
  color: #67625f;
}
.footer__button-box {
  margin-top: 1px;
}
.footer__button-box button {
  background: #ff5959;
  font-size: 14px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  color: white;
  padding: 10px 120px 10px 120px;
  border: none;
}
.footer__button-box button:hover {
  background: #b32525ef;
}
.footer__contact-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.footer__contact-box {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #ff5959;
  align-items: center;
}
.footer__contact-box h3 {
  margin-top: 0px;
}
.footer__contact-box h3:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer__icon-contact {
  width: 40px;
  height: 40px;
  background-image: url(/sprite.svg);
  background-position: 4px -204px;
}
.footer__icon-nosotros {
  width: 40px;
  height: 40px;
  background-image: url(/sprite.svg);
  background-position: 4px -242px;
}
.footer__icon-conditions {
  width: 40px;
  height: 40px;
  background-image: url(/sprite.svg);
  background-position: 4px -281px;
}
.footer__copy {
  font-style: "Source Sans Pro";
  font-weight: bold;
  background: #ff5959;
  width: 100%;
  color: white;
  font-size: 13px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*/ Envios y devoluciones/*/
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size-footer__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 160px;
}

.size-footer__iconsbox {
  height: 70px;
  width: 90px;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 30px;
  background-color: #e8e6e5;
}
.footer__icons__enviosBox {
  background-image: url(./sprite.svg);
  height: 70px;
  width: 90px;
  background-position-x: 5px;
  background-position-y: -30px;
}
.footer__icons__envios24Box {
  background-image: url(./sprite.svg);
  height: 70px;
  width: 60px;
  background-position-x: -87px;
  background-position-y: -30px;
}
.footer__icons__devolucionesBox {
  background-image: url(./sprite.svg);
  height: 70px;
  width: 80px;
  background-position-x: -143px;
  background-position-y: -30px;
}
.footer__icons__reembolsoBox {
  background-image: url(./sprite.svg);
  height: 70px;
  width: 90px;
  background-position-x: -218px;
  background-position-y: -30px;
}
.footer__icons__text1 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  color: #67625f;
}
.footer__icons__text1:hover {
  color: #fd8080;
}
.footer__icons__text2 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #67625f;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}
.footer__icons__text2:hover {
  color: #fd8080;
}

/*/ Hover completo iconos /*/
.footer__icons__envios:hover .footer__icons__enviosBox {
  cursor: pointer;
  background-position-x: 5px;
  background-position-y: -101px;
}

.footer__icons__envios:hover .footer__icons__text1 {
  cursor: pointer;
  color: #fd8080;
}

.footer__icons__envios:hover .footer__icons__text2 {
  cursor: pointer;
  color: #fd8080;
}

.footer__icons__envios24:hover .footer__icons__envios24Box {
  cursor: pointer;
  background-position-x: -87px;
  background-position-y: -101px;
}

.footer__icons__envios24:hover .footer__icons__text1 {
  cursor: pointer;
  color: #fd8080;
}

.footer__icons__envios24:hover .footer__icons__text2 {
  cursor: pointer;
  color: #fd8080;
}

.footer__icons__devoluciones:hover .footer__icons__devolucionesBox {
  cursor: pointer;
  background-position-x: -143px;
  background-position-y: -101px;
}

.footer__icons__devoluciones:hover .footer__icons__text1 {
  cursor: pointer;
  color: #fd8080;
}

.footer__icons__devoluciones:hover .footer__icons__text2 {
  cursor: pointer;
  color: #fd8080;
}

.footer__icons__reembolso:hover .footer__icons__reembolsoBox {
  cursor: pointer;
  background-position-x: -218px;
  background-position-y: -101px;
}

.footer__icons__reembolso:hover .footer__icons__text1 {
  cursor: pointer;
  color: #fd8080;
}

.footer__icons__reembolso:hover .footer__icons__text2 {
  cursor: pointer;
  color: #fd8080;
}

/*/ Warrada /*/
@media (min-width: 800px) {
  .footer__container {
    width: 100%;
  }
  .footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 80px;
    width: 65%;
  }
  .footer__contact-follow {
    border-bottom: 0;
    border-right: 1px solid #a59e9aab;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 10px;
    margin-top: 20px;
    padding-top: 30px;
  }
  .footer__contact-follow h3 {
    margin-top: 0;
  }
  .footer__contact-newsletter {
    flex-direction: row;
    align-items: center;
    border-bottom: 0;
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    border-right: 1px solid #a59e9aab;
  }
  .footer__email {
    margin-top: 1px;
  }
  .footer__email input[type=email] {
    margin-top: 14px;
    width: 300px;
    height: 37px;
    border: 1px solid #67625f;
  }
  .footer__button-box {
    padding-top: 11px;
    margin: 0;
    min-width: 115px;
  }
  .footer__button-box button {
    background: #ff5959;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 4px;
  }
  .footer__button-box button:hover {
    background: #b32525ef;
  }
  .footer__contact-contact {
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 40px;
    align-items: flex-start;
  }
  .footer__contact-box {
    flex-direction: row;
    justify-content: flex-start;
    font-size: 11px;
  }
  .footer__icons-box {
    justify-content: flex-start;
  }
  .footer__contact-box h3 {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 14px;
  }

  .footer__email {
    align-items: flex-start;
  }

  .footer__icons {
    width: 100%;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;
    height: 200px;
  }

  .sponsors {
    display: flex;
    width: 100%;
    height: 1000px;
  }
  .sponsors__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
  }
  .sponsors__title {
    font-family: "Source Sans Pro Black";
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 28px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
  }
  .sponsors__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 40px;
  }
  .sponsors__list li {
    margin: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
