@font-face {
    font-family: "Source Sans Pro";
    src: url(/fuentes/SourceSansPro-Regular.ttf);
    
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  width: 600px;
  /*Body height*/
  border: 1px solid black;
  /*Cambio general*/
  padding-left: 100px;
  padding-right: 100px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.header-fix {
  display: flex;

  justify-content: space-around;
  position: sticky;
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
  &__menu {
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/burger_menu.png);
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background-color: blue;
    }
  }
  &__user {
    display: flex;
    &:hover {
      background-color: blue;
    }
  }
  &__user-icon {
    width: 27px;
    height: 27px;
    background-image: url(./sprite.svg);
  }
  &__buscar {
    background-color: #bbb8b6;
  }
  &__buscar-icon {
    width: 30px;
    height: 30px;
    background-image: url(./sprite.svg);
    background-position-x: -312px;
  }
  &__carrito {
    background-color: #ffffff;
  }
  &__carrito-icon {
    width: 30px;
    height: 30px;
    background-image: url(./sprite.svg);
    background-position-x: -76px;
  }

  &__items {
    background-color: #ff5959;
  }
  &__Numitems {
    font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial",
      sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #fff;
  }

  width: 100%;
  background-color: brown;
}

/*IMAGEN*/
.header-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid black;
  background: blue;
}

.header-container img {
  height: 55px;
}

//MAIN CONTAINER
.main-container{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.main-container__category{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
.main-container__category img{
  width: 120px;
  height: 140px;
  margin-top: 100px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.main-container__titulo{
  font-family: "Source Sans Pro";
  letter-spacing: 5px;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 40px 10px 40px;
}

.main-container{
  &__home{
    display: flex;
    flex-direction: column;
  }
  &__images{
  border: 1px solid black;
  /*height: 170px;*/
  margin: 5px;
  & img{
    width: 100%;
  }
  &:nth-child(3){
    overflow: hidden;s
    & img{
      background-position: right;
    }
  }
}
  &__box{
  position: relative;
  background: white;
  border: 1px solid black;
}
}
